<h1>Procuro estágio</h1>
<p>{{user.name}} que tem {{user.age}} anos está clamando por um estágio, contate ele com o email {{user.email}}, POR FAVOR!!!!!!</p>
{{#if approved}}
<p>Parabéns, você foi contratado</p>
{{else}}
<p>Você não foi contratado! chore!</p>
{{/if}}
{{#if auth}}
<p>
    Estagio bacana, <a href="/estagio">clique aqui</a> para ver o estagio
</p>
{{/if}}